:root{
    --NAVY-BLUE: #2E2F42;
    --IRIS: #4D5AE5;
    --WHITE: #FFF;
    --CORNFLOWER: #E7E9FC;
    --CLOUD: #F4F4FD;
    --GREY: #2E2F42;
    --SLATE: #434455;
    --LIGHTSLATE:#8E8F99;
    --OCEAN: #404BBF;
    --BLACK: #000;

    --navy-blue-modal:rgba(46, 47, 66, 0.40);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Body Default Value*/
body{
    width: 100%;
    font-family: roboto,sans-serif;
    font-size:16px;
    font-weight: 400;

}

.container{
    padding-left: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* list style global*/
li{
    list-style: none;
}
ul{
    padding-left: 0%;
}
h2{
    color: var(--NAVY-BLUE);
    text-align: center;
    
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

h3{
    color: var(--NAVY-BLUE);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}

p{
    color:var(--SLATE);
}


/*Navigation*/

.NavBar{
    display: flex; 
    justify-content: space-around;
    height: 72px;
    align-items: center;  
    background-color: var(--CORNFLOWER);
}
.navi-menu{
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.contacts{
    display: inline-flex;
    align-items: center;
    gap: 40px;
}


/* Nav Logo */

.logo{
    text-decoration: none;
    color: var(--NAVY-BLUE);
    font-weight: 700;
    font-size: 24px;
}
.logo span{
    color:var(--IRIS);
}
.navi-menu{
    margin-top: 0px;
    margin-bottom: 0px;
}
.navi-menu a{
    text-decoration: none;
    color: var(--NAVY-BLUE);
    font-weight: 500;
}

.contacts a{
    text-decoration: none;
    font-style: normal;
    color:var(--NAVY-BLUE);
    font-weight: 500;
    margin-top: none;
}

.nav-link:hover,
.nav-link:focus{
    color:var(--OCEAN);
}

.active{
    color:var(--OCEAN);
}
.active::after{
    content:" ";
    display:block;
    width:100%;
    height:4px;
    border-radius: 2px;
    background-color: var(--OCEAN);
    position: relative;
    top: 24px;
    
}


/*Order Service No Flex*/

.studio{
    background: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url("../images/people-office.jpg");
    position: relative;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.header-main{
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    color: var(--WHITE);
}


/*Button Div+*/

.order{
    background-color: var(--IRIS);
    color: var(--WHITE);
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}
.order{
    border-style: none;
    font-weight: 500;
}
.order:hover{
    background: var(--OCEAN);
}


/*Description*/

.head-content{
    padding-top: 120px;
    padding-bottom: 120px;
}

.studio-about{
    display: inline-flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    gap: 8px;
}

.about-icon{
    width: 264px;
    height: 112px;
    text-align: center;
    padding: 24px 0;
    background-color: var(--CLOUD);
}

.studio-des{
    display: flex;
    flex-direction: row;
    gap:24px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/*Wha we are doing*/

.portfolio-doing{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 76px;
}

/*Team Members*/

.header-team{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--CORNFLOWER);
}

.team-members{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.team-mark,
.team-tom,
.team-camila,
.team-daniel{
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
    /*Border*/
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social-icon{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:24px;
}

.team-social-icon{
    background-color: var(--IRIS);
    height:40px;
    width: 40px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-social-icon svg{
    fill: var(--WHITE);
}

/*Client Styling*/
.client-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 112px;
    gap: 24px;
}

.customer{
    padding-top: 120px;
    padding-bottom: 120px;
}

.client-logo-box{
    fill: var(--LIGHTSLATE);
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid var(--LIGHTSLATE);
    flex-basis:calc(100%/2-30px);
}
/*Footer Section*/

.footer-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 72px;
}

.footer-end{
    background-color: var(--NAVY-BLUE);
    color: var(--CLOUD);
    padding-top: 156px;
    padding-bottom: 156px;
    
}
.logo-footer{
    text-decoration: none;
    color:var(--WHITE);
}
.logo-footer span{
    color: var(--IRIS);
    text-decoration: none;
}

.footer-body{
    padding-top:16px;
    width:264px;
}

.second-footer{
    padding-left: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:80px;   
}

.social-container{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0 auto;
}

.social-icon-div{
    padding-top:  16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.social-icon-footer{
    background-color: var(--IRIS);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.social-icon-footer svg{
    fill:var(--WHITE);
}

/*Footer Subscibe*/
.subscribe-text-footer{
    padding-top:16px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}
.subscribe-text-input{
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    background-color: var(--NAVY-BLUE);
    color: var(--WHITE);
    border-radius: 4px; 
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.sub-btn{
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius:4px;
    background-color: var(--IRIS);
    color: white;
    border: none;
}

/* Portfolio Tab Style*/

.Search-Tab{
    text-align: center;
    width: 1440px;
    padding-top: 100px;
}

.search-tab-list{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;

}

.search-list-btn{
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    border-style: none;

    color: var(--IRIS);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;  
}
.search-list-btn:active{
    color: var(--WHITE);
    border-radius: 4px;
    background: var(--OCEAN);
    box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

/*Project Cards*/
.projects{
    width: 1440px;
}
.project-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.project-cards img{
    width: 360px;
    height: 300px;
    flex-shrink: 0;
    display: block;
}

.project-card{
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: solid 1px var(--CORNFLOWER);
    background-color: var(--WHITE);
    padding-bottom: 32px;

}

.project-card-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    padding: 0px 16px;
    gap: 8px;
}

.card-name-title{
    color: var(--NAVY-BLUE);
    margin: 0;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}

.project-category{
    color: var(--SLATE);
    margin:0;
    font-family: Roboto;        
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.project-card{
    overflow: hidden;

}
.project-image{
    position: relative;
    overflow: hidden;
}

.proj-image-caption{
    position:absolute;
    background-color: var(--IRIS);
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.proj-image-caption p{
    color:var(--CLOUD);
    padding: 40px 32px;
}

.project-card:hover .proj-image-caption{
    opacity:1;
    transform: translateY(0);
}

.project-card:hover{
    border: 1px solid var(--CLOUD);
    background: var(--WHITE);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/*Modal*/

.backdrop-overlay{
    position: fixed;
    background-color: rgba(46,47,66,0.40);
    width: 100%;
    height: 100%;
    top:0;
    left:0; 
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content{
    position:fixed;
    background-color: var(--WHITE);
    width: 408px;
    border-radius: 4px;
    padding: 24px;

}

.modal-content p{
    text-align: center;
    color: var(--NAVY-BLUE);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px
}


.close-modal-btn{
    border-radius: 100%;
    border: 1px solid var(--LIGHTSLATE);  
    background-color: var(--CORNFLOWER);
    width: 30px;
    height: 30px;
    margin-left: auto;
    transition: fill 250ms cubic-bezier(0.4,0,0.2,1), border 250ms cubic-bezier(0.4,0,0.2,1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.close-modal-btn:hover{
    background-color: var(--IRIS);
}

.is-hidden{
    pointer-events: none;
    opacity: 0;
}

/*Modal Form Contacts*/

.service-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    position: relative;
}

.input-label{
    text-align: left;
    margin-bottom: 4px;
    color: var(--LIGHTSLATE);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.48px;
}

.service-icon{
    position: absolute;
    top:50%;
    left:16px;
    fill:var(--BLACK);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-text:focus + .service-icon,
.service-text:hover + .service-icon{
    fill:var(--IRIS);
}

.service-text:hover{
    border: 1px solid var(--IRIS);
}


.service-text{
    padding: 12px 40px;
    border:1px solid var(--navy-blue-modal);
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.service-textarea{
    padding: 8px 16px;
    border:1px solid var(--navy-blue-modal);
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-agreement{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.service-btn{
    background-color: var(--IRIS);
    color: var(--WHITE);
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
}

/*Mobile Menu*/

.menu-toggle{
    min-height: 40px;
    min-width: 40px;
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
}

.menu-container.is-open{
    transform: translateX(0);
}

.menu-container{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 40px;
    background-color: var(--WHITE);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.mobile-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    min-width: 24px;
    min-height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--LIGHTSLATE);
    background-color: var(--CORNFLOWER);
    transition: background-color 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container{
    padding-left: 40px;
}

.mobile-menu-list{
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}
.mobile-menu-item a{
    text-decoration: none;
}
.mobile-menu-item{  
    color: var(--NAVY-BLUE);
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.active-mobile{
    color: var(--OCEAN);
}

.contacts-container{
    padding-top: 100px;
    padding-left: 40px;
}
.contacts-mobile{
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
}
.contacts-mobile a{
    text-decoration: none;
}

.contact-number{
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.contact-active{
    color: var(--IRIS);
}
.address-detail{
    text-decoration: none;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}


.mobile-nav-social{
    padding-top: 48px;
    display: inline-flex;
    gap:56px;
}


/*CSS Media Query*/

@media only screen and (min-width:428px) and (max-width:767px){
    .container{
        width: 428px;
        margin: 0 auto;
    }

    .header-portfolio,
    .menu,
    .contacts{
        display: none;
    }

    .NavBar{
        justify-content: space-around;
        margin: 0 auto;
    }

    .portfolio-doing{
        flex-basis: calc(100% /1 -30px);
    }

    .header-main{
        width:336px;
        min-height: 80px;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }
    .studio{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-between;
    }
    .footer-inner{
        justify-content: center;
        text-align: center;
    }

    .about-icon{
        display: none;
    }

    .studio-des{
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
        gap:72px
    }

    .studio-about{
        width: 100%;
        min-height: 120px;
        gap:8px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hero-description{
        color: var(--LIGHTSLATE);
        /* Body Medium */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: 0.32px;
    }

    .studio-title{
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
        margin-bottom: 8px;
    }

    .social-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media only screen and (min-width:768px) and (max-width:1199px){
    .container{
        width: 768px;
    }

    .header-portfolio{
        display: none;
    }

    .contacts{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .studio-about
    .team-members{
        flex-basis: calc(100% /2 -30px);
    }

    .about-icon{
        display: none;
    }

    .client-logo{
        flex-basis: calc(100%/3 -30px);
        width:600px;
        margin: 0 auto;
    }

    .client-list{
        padding-top: 72px;
    }

    .menu-toggle{
        display:none
    }

    .project-cards{
        flex-basis: calc(100%/2 -30px);
    }

}

@media (min-width:1200px){
    .container{
        width: 1200px;
    }

    .studio-about,
    .team-members{
        flex-basis: calc(100% /4 -30px);
    }

    .portfolio-doing{
        flex-basis: calc(100%/3 -30px);

    }
    .client-logo-box{
        flex-basis: calc(100%/6-30px);
    }

    .menu-toggle{
        display:none
    }
}